<div class="skill" style="display: flex; justify-content: center; ">
    <table class="skill" style="width:100%; text-align: center">
        <colgroup>
            <col style="width:20px"/>
            <col style="width:9%"/>
            <col style="width:9%"/>
            <col style="width:9%"/>
            <col style="width:9%"/>
            <col style="width:9%"/>
            <col style="width:9%"/>
            <col style="width:9%"/>
            <col style="width:9%"/>
            <col style="width:8%"/>
        </colgroup>
        <thead>
            <tr>
                <th>{{localize "MERP1E.SkillTable.SkillName"}}</th>
                <th>{{localize "MERP1E.SkillTable.Ranks"}}</th>
                <th>{{localize "MERP1E.SkillTable.RankBonus"}}</th>
                <th>{{localize "MERP1E.SkillTable.StatBonus"}}</th>
                <th>{{localize "MERP1E.SkillTable.ProfessionBonus"}}</th>
                <th>{{localize "MERP1E.SkillTable.ItemBonus"}}</th>
                <th>{{localize "MERP1E.SkillTable.SpecialBonus"}}</th>
                <th>{{localize "MERP1E.SkillTable.ExtraBonus"}}</th>
                <th>{{localize "MERP1E.SkillTable.Total"}}
                <th>
                    <a class="skill-control" title="{{localize 'MERP1E.Skills.RemoveUntrained'}}" data-action="remove-all"><i class="fas fa-eraser"></i></a>
                    <a class="skill-control" title="{{localize 'MERP1E.Skills.AddDefault'}}" data-action="add-all"><i class="fas fa-folder-plus"></i></a>
                    {{!-- <a class="item-control item-create" title="{{localize 'MERP1E.Item.New'}}" option-renderSheet=true data-type="skill"><i class="fas fa-plus"></i></a> --}}
                </th>
            </tr>
        </thead>
        <tbody class="skill-list">
            {{#each sheetOrder as | group |}}
                <tr>
                    <td colspan="10" style="font-weight: bold; text-align: left">{{localize group.label}}</td>
                </tr>
                {{#each group.skills as | skill |}}
                    <tr class="skill-line item" data-item-id="{{skill.id}}">
                        <td class="skill-name" style="text-align: left">{{localize skill.name}}</td>
                        {{#if (eq skill.data.data.rankBonusMethod "no rank")}}
                            <td></td>
                            <td></td>
                        {{else}}
                            <td><input class="skill-ranks userentry" name="Item.{{skill.id}}.ranks" value="{{skill.data.data.ranks}}" type="number" min="0" {{#if skill.data.maxRanks}}max="{{skill.data.maxRanks}}"{{/if}} data-dtype="Number"/></td>
                            {{#if (eq skill.data.data.rankBonusMethod "roll per rank")}}
                            <td><input class="skill-rankbonus userentry" name="Item.{{skill.id}}.rankBonus" value="{{skill.data.data.rankBonus}}" type="number" data-dtype="Number"/></td>
                            {{else}}
                            <td><input class="skill-rankbonus" value="{{formatBonus skill.bonuses.rank}}" type="text" data-dtype="Number" readonly tabindex=-1/></td>
                            {{/if}}
                        {{/if}}
                        {{#if (eq skill.data.data.statBonus "")}}
                        <td></td>
                        {{else}}
                        <td><input class="skill-statbonus skill-stat-{{skill.data.statBonus}}" value="{{toUpperCase skill.data.data.statBonus}} {{formatBonus skill.bonuses.stat}}" type="text" data-dtype="String" readonly tabindex=-1/></td>
                        {{/if}}
                        <td><input class="skill-profbonus" value="{{formatBonus skill.bonuses.prof}}" type="text" data-dtype="Number" readonly tabindex=-1/></td>
                        <td><input class="skill-itembonus" value="{{formatBonus skill.bonuses.item}}" type="text" data-dtype="Number" readonly tabindex=-1/></td>
                        <td><input class="skill-specbonus userentry" name="Item.{{skill.id}}.specialBonus" value="{{skill.bonuses.spec}}" type="number" data-dtype="Number"/></td>
                        <td><input class="skill-extrabonus" value="{{formatBonus skill.bonuses.extra}}" type="text" data-dtype="Number" readonly tabindex=-1/></td>
                        <td><div class="skill-control skill-totalbonus" data-roll-type="{{skill.data.data.rollType}}" data-action="roll-maneuver" data-dtype="Number">{{formatBonus skill.total}} <span class="skill-rolltype-automatic">{{skill.data.data.rollType}}</span><span class="skill-rolltype-choose" hidden><i class="fas fa-ellipsis-h"></i></span></div></td>
                        <td>
                            <a class="item-control item-edit" title="{{localize 'MERP1E.Item.Edit'}}"><i class="fas fa-edit"></i></a>
                            {{!-- <a class="item-control item-delete" title="{{localize 'MERP1E.Item.Delete'}}"><i class="fas fa-trash"></i></a> --}}
                            {{!-- <a class="skill-control duplicate" title="{{localize 'MERP1E.Skills.Duplicate'}}" data-action="duplicate"><i class="fas fa-copy"></i></a> --}}
                        </td>
                    </section>
                {{/each}}
            {{/each}}
        </tbody>
    </table>
</div>