<div class="effects">
    <div class="flexrow">
        <h2 class="flex3">{{localize 'MERP1E.Effects.Label'}}</h2>
<!--
        <div style="display: flex; justify-content: center; align-items: center; text-align: center;" class="flexrow">
            <span class="health-control" data-action="next-round">
                <i title="{{localize 'MERP1E.Damage.Add'}}" class="fas fa-hourglass-half"></i>
            </span>
            <span class="health-control" data-action="erase-status">
                <i title="{{localize 'MERP1E.Damage.EraseStatus'}}" class="fas fa-eraser"></i>
            </span>
        </div>
-->
    </div>
    <ol>
        <ol>
            <li class="flexrow header">
                <div class="flex2">{{localize 'MERP1E.Effects.Name'}}</div>
                <div>{{localize 'MERP1E.Effects.Item'}}</div>
            </li>    
         </ol>
        {{#each this.actor.itemEffectsByType as | effectTypes effectType  | }}
        <li style="font-weight: bolder;">{{localize (lookup ../effectTypesLabels effectType)}}</li>
        <ol>
        {{#each effectTypes as | effect | }}
        <li class="flexrow">
            <div class="flex2">{{effect.name}}</div>
            <div class="item" data-item-id="{{effect.parent.id}}">
                <img src="{{effect.parent.img}}" title="{{effect.parent.type}}{{!-- XXX i18--}}" width="16" height="16"/>
                {{#if effect.parent.parent}}
                <a class="item-edit">
                {{/if}}
                    {{effect.parent.name}}
                {{#if effect.parent.parent}}
                </a>
                {{/if}}
            </div>
        </li>    
        {{/each}}
        </ol>
        {{/each}}
    </ol>
</div>