<div>
    {{log this}}
    <label class="resource-label">{{localize "MERP1E.Profession.Realm"}}</label>
    {{#if (eq actor.profession.data.data.realm "any")}}
    <select name="data.realm">
      {{#each rules.spell.realms as |realm|}}
          <option value="{{realm}}" {{#if (isEqual ../data.realm realm)}}selected{{/if}}>{{localize (concat "MERP1E.Realm." realm)}}</option>
      {{/each}}
    </select>
    {{else}}
      <input type="text" name="data.realm" value="{{data.profession.data.realm}}" data-dtype="String" readonly tabindex=-1/>
    {{/if}}
  </div>
  <ol class="items-list">
    <li class="item flexrow item-header">
      <div class="item-image"></div>
      <div class="item-name">Name</div>
      <div class="item-controls">
        <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add item</a>
      </div>
    </li>
    {{#each data.spelllists as |item id|}}
      <li class="item flexrow" data-item-id="{{item.id}}">
        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
        <h4 class="item-name">{{item.name}}</h4>
          {{#if item.data.learned}}
          <div>X</div>
          {{else}}
          <div>{{item.data.chanceoflearning}}</div>
          {{/if}}
          <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
      </li>
      {{#if item.data.learned}}
        {{#each item.data.spells as | spell |}}
        <li class="item flexrow" data-item-id="{{item.id}}">
          <div class="item-image" stype="width: 48px"></div>
          <div class="item-image"><img src="{{spell.img}}" title="{{spell.name}}" width="24" height="24"/></div>
          <h4 class="item-name">{{spell.level}} - {{spell.name}}</h4>
          <div class="item-controls">
            ROLL
          </div>
        </li>
        {{/each}}
      {{/if}}
    {{/each}}
  </ol>
</div>