<table class="stats" style="text-align:center">
    <colgroup>
        <col style="width:100px"/>
        <col style="width:35px"/>
        <col style="width:35px"/>
        <col style="width:35px"/>
        <col style="width:35px"/>
        <col style="width:35px"/>
    </colgroup>  
    <thead>
        <tr class="table-header">
            <th class="stats-col-1">{{localize "MERP1E.StatTable.Stats"}}</th>
            <th class="stats-col-2">{{localize "MERP1E.StatTable.Abbr"}}</th>
            <th class="stats-col-3">{{localize "MERP1E.StatTable.Value"}}</th>
            <th class="stats-col-4">{{localize "MERP1E.StatTable.Bonus"}}</th>
            <th class="stats-col-5">{{localize "MERP1E.StatTable.Race"}}</th>
            <th class="stats-col-6">{{localize "MERP1E.StatTable.Total"}}</th>
        </tr>
    </thead>
    <tbody>
        {{#each rules.stats as | stat |}}
        {{> "systems/merp1e/templates/actor/parts/character-sheet-stat-line.html" stat=(lookup ../actor.stats stat.id) statLabel=stat}}
        {{/each}}
    </tbody>
</table>
