<div class="moving-maneuver">
    {{!-- Difficulty --}}
    {{> "systems/merp1e/templates/chat/parts/difficulty-part.html" difficulties=difficulties chosenDifficulty=data.chosenDifficulty }}

    {{!-- Skill --}}
    {{> "systems/merp1e/templates/chat/parts/skill-part.html" skill=skill group=skillModifiers data=data label=group.label skillTotal=skillTotal }}

    {{!-- Item Modifiers --}}
    {{> "systems/merp1e/templates/chat/parts/modifiers-part.html" group=itemModifiers data=data label=itemModifiers.label }}

    {{!-- Roll --}}
    {{> "systems/merp1e/templates/chat/parts/roll-part.html" data=data }}

    {{!-- Total --}}
    {{> "systems/merp1e/templates/chat/parts/total-part.html" total=total }}

    {{!-- Resolve --}}
    {{#if data.rollTotal}}
    <div class="grid grid-3col" style="grid-template-columns: 15% 60% 15%;">
        <div style="font-weight: bold;">
            {{localize "MERP1E.ManeuverCard.ResultLabel"}}
        </div>
        <div style="font-weight: bold; text-align: center; vertical-align: middle;">
            {{#if (eq resolveResult "F")}}
                {{localize "MERP1E.MovingManeuverCard.FumbleResult"}}
            {{else}}
                {{resolveResult}}
            {{/if}}
            <input type="hidden" name="resolveResult" value="{{resolveResult}}" />
        </div>
        <div>
        </div>
        {{#if (ne resolveResult "F")}}
        <div>
            <i class="fas fa-calculator"></i>
        </div>
        <div style="text-align: center; vertical-align: middle;">
            <input name="calcValue" class="calc-number gm-select-only" value="{{data.calcValue}}" type="number" placeholder="{{localize 'MERP1E.MovingManeuverCard.CalculateLabel'}}" />
        </div>
        <div style="text-align: center; vertical-align: middle;">
            <span class="calc-result">{{calcResult}}</span>
        </div>
        {{/if}}
    </div>
    {{/if}}
</div>

