<div class="moving-maneuver">
    {{!-- Skill --}}
    <div class="grid grid-3col" style="grid-template-columns: 15% 60% 15%;">
        <div>Skill:</div>
        <div>{{skill.name}}</div>
        <div style="text-align: center;">{{formatBonus skill.total}}</div>
    </div>
    {{!-- Difficulty --}}
    <div class="grid grid-3col" style="grid-template-columns: 15% 60% 15%;">
        <div>{{localize "MERP1E.MovingManeuverCard.DifficultyLabel"}}</div>
        <div>
            <select name="chosenDifficulty">
                {{selectOptions difficulties selected=data.chosenDifficulty localize=true nameAttr="id" labelAttr="label"}}
            </select>
        </div>
        <div style="text-align: center;">-</div>
    </div>

    {{!-- Modificators --}}
    {{#each modifiersByGroup as | group | }}
        {{#if (ne group.modifiers.length 0)}}
            <div style="font-weight: bolder;">{{localize group.label}}</div>
            {{#each group.modifiers as | mod | }}
            {{#if (or mod.enabled mod.isUserChosen)}}
                <div class="grid grid-3col" style="grid-template-columns: 15% 60% 15%;">
                    <div>
                        {{#if mod.isUserChosen}}
                            <input type="checkbox" name="modifiersChecked.{{group.id}}.{{mod.id}}" {{checked (lookup (lookup ../../data.modifiersChecked group.id) mod.id)}}/>
                        {{/if}}
                    </div>
                    <div>
                        {{localize mod.label}}
                        {{#if mod.itemId}}
                        <i class="fas fa-info-circle" title="{{mod.itemName}}"></i>
                        {{!-- could link to the item sheet --}}
                        {{/if}}
                    </div>
                    <div style="text-align: center; vertical-align: middle;">
                        {{#if mod.isAdHoc}}
                            {{#if (or (not mod.isUserChosen) (and mod.isUserChosen (lookup (lookup ../../data.modifiersChecked group.id) mod.id)))}}
                                <input type="number" name="modifiersValue.{{group.id}}.{{mod.id}}" value="{{lookup (lookup ../../data.modifiersValue group.id) mod.id}}"/>
                            {{else}}
                                <div></div>
                            {{/if}}
                        {{else}}
                            {{#if (or (not mod.isUserChosen) (and mod.isUserChosen (lookup (lookup ../../data.modifiersChecked group.id) mod.id)))}}
                                {{formatBonus mod.value}}
                            {{else}}
                                <del>{{formatBonus mod.value}}</del>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            {{/if}}
            {{/each}}
        {{/if}}
    {{/each}}

    {{!-- Roll --}}
    <div class="grid grid-3col" style="grid-template-columns: 15% 60% 15%;">
        <div>{{localize "MERP1E.MovingManeuverCard.RollLabel"}}</div>
        <div>
            {{#if data.rollTotal}}
                {{data.rollResult}}
            {{else}}
                <input type="button" name="roll" value="{{localize 'MERP1E.MovingManeuverCard.RollButton'}}" data-action="roll"/>
            {{/if}}
        </div>
        
        <div style="text-align: center; vertical-align: middle;">
            {{#if data.rollTotal}}
                {{formatBonus data.rollTotal}}
            {{else}}
                <i class="fas fa-dice-d20"></i>
                <i class="fas fa-dice-d20"></i>
            {{/if}}
        </div>
    </div>
    {{!-- Total --}}
    <div class="grid grid-3col" style="grid-template-columns: 15% 60% 15%; font-weight: bolder;">
        <div>
            {{localize "MERP1E.MovingManeuverCard.TotalLabel"}}
        </div>
        <div></div>
        <div style="text-align: center; vertical-align: middle;">
            <b>{{formatBonus total}}</b>
            <input type="hidden" name="total" value="{{total}}" />
        </div>
    </div>
    {{!-- Resolve --}}
    {{#if data.resolveResult}}
    <div class="grid grid-3col" style="grid-template-columns: 15% 60% 15%;">
        <div>
            {{localize "MERP1E.MovingManeuverCard.ResultLabel"}}
        </div>
        <div style="text-align: center; vertical-align: middle;">
            {{#if (eq data.resolveResult "F")}}
                {{localize "MERP1E.MovingManeuverCard.FumbleResult"}}
            {{else}}
                {{data.resolveResult}}
            {{/if}}
            <input type="hidden" name="resolveResult" value="{{data.resolveResult}}" />
        </div>
        <div>
        </div>
        {{#if (ne data.resolveResult "F")}}
        <div>
            <i class="fas fa-calculator"></i>
        </div>
        <div style="text-align: center; vertical-align: middle;">
            <input name="calcValue" class="calc-number gm-select-only" value="{{data.calcValue}}" type="number" placeholder="{{localize 'MERP1E.MovingManeuverCard.CalculateLabel'}}" />
        </div>
        <div style="text-align: center; vertical-align: middle;">
            <span class="calc-result">{{calcResult}}</span>
        </div>
        {{/if}}
    </div>
    {{/if}}
</div>