<div class="resistence-roll">
    <div class="chat-card">
        <div class="card-title" style="font-weight: bold; border-bottom: 1pt; border-bottom-style: solid;">
            {{!-- Base Attack --}}
            <div class="grid grid-3col" style="grid-template-columns: 75% 15%;">
                <div>{{localize "MERP1E.ResistenceRollCard.Level"}}</div>
                <input style="text-align: center; vertical-align: middle;" type="number" value="{{rrBase}}" {{ro}}/>
            </div>
        </div>
        <div class="card-content">
            <div class="grid grid-4col">
                {{!-- Attack Level --}}
                <div>{{localize "MERP1E.ResistenceRollCard.AttackLevel"}}</div>
                <input type="number" name="attackLevel" value="{{data.attackLevel}}"/>

                {{!-- Target Level --}}
                <div>{{localize "MERP1E.ResistenceRollCard.TargetLevel"}}</div>
                <input type="number" name="targetLevel" value="{{data.targetLevel}}"/>
            </div>
        </div>
    </div>

    {{!-- Skill --}}
    {{> "systems/merp1e/templates/chat/parts/skill-part.html" skill=skill group=skillModifiers data=data label=group.label skillTotal=skillTotal }}

    {{!-- Item Modifiers --}}
    {{> "systems/merp1e/templates/chat/parts/modifiers-part.html" group=itemModifiers data=data label=itemModifiers.label }}

    {{!-- Roll --}}
    {{> "systems/merp1e/templates/chat/parts/roll-part.html" data=data }}

    {{!-- Total --}}
    {{> "systems/merp1e/templates/chat/parts/total-part.html" total=total }}

    {{!-- Resolve --}}
    {{#if data.rollTotal}}
    <div class="grid grid-2col" style="grid-template-columns: 15% 75%;">
        <div style="font-weight: bold;">
            {{localize "MERP1E.ManeuverCard.ResultLabel"}}
        </div>
        <div style="font-weight: bold; text-align: center; vertical-align: middle;">
            {{#if resolveResult}}
                {{localize data.successText}}
            {{else}}
                {{localize data.failureText}}
            {{/if}}
        </div>
    </div>
    {{/if}}
</div>