<ol class="items-list effects-list">
    <li class="items-header flexrow header">
        <div class="item-name effect-name flexrow">{{localize "MERP1E.Effect.Label"}}</div>
        <div class="item-controls effect-controls flexrow">
            <a class="effect-control" data-action="create" data-effect-type="ItemEffect" title="{{localize 'MERP1E.Effect.Create'}}">
                <i class="fas fa-plus" title="{{localize 'MERP1E.Effect.Add'}}"></i>
            </a>
        </div>
    </li>
    {{#each itemEffects as |effect eid|}}
    <li class="item effect flexrow" data-effect-id="{{effect.id}}">
        <div class="item-name effect-name flexrow">
            <img class="item-image" src="{{effect.data.icon}}" width="24" height="24"/>
            <h4>{{effect.name}}</h4>
        </div>
        <div class="item-controls effect-controls flexrow">
            <a class="effect-control" data-action="toggle" title="{{localize 'MERP1E.Effect.Toggle'}}">
                <i class="fas {{#if effect.data.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
            </a>
            <a class="effect-control" data-action="edit" title="{{localize 'MERP1E.Effect.Edit'}}">
                <i class="fas fa-edit"></i>
            </a>
            <a class="effect-control" data-action="delete" title="{{localize 'MERP1E.Effect.Delete'}}">
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </li>
    {{/each}}
</ol>