<form class="{{cssClass}}" autocomplete="off">
    <!-- Effect Header -->
    <header class="sheet-header">
        <img class="profile-img" src="{{effect.icon}}" data-edit="icon" title="{{effect.name}}" height="100" width="100"/>
        <div class="flexcol">
            <div class="effect-title">
                <h1>{{ name }}</h1>
            </div>
            <div class="resource">
                <label class="resource-label">{{localize "MERP1E.Effect.Type" }}</label>
                <select name="flags.merp1e.effectType">
                    {{#unless effect.flags.merp1e.effectType}}<option></option>{{/unless}}
                    {{selectOptions effectTypes selected=effect.flags.merp1e.effectType localize=true nameAttr="id" labelAttr="label"}}
                </select>
            </div>
            <div class="resource">
                <label class="resource-label">{{localize "MERP1E.Effect.Condition" }}</label>
                <select name="flags.merp1e.conditionType">
                    {{#unless effect.flags.merp1e.conditionType}}<option></option>{{/unless}}
                    {{selectOptions conditionTypes selected=effect.flags.merp1e.conditionType localize=true nameAttr="id" labelAttr="label"}}
                </select>
            </div>
        </div>
    </header>

    {{!-- Effect Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="configuration"><i class="fas fa-cogs"></i> {{localize "MERP1E.EffectTab.Configuration"}}</a>
        <a class="item" data-tab="condition"><i class="fas fa-check"></i> {{localize "MERP1E.EffectTab.Condition"}}</a>
        <a class="item" data-tab="details"><i class="fas fa-book"></i> {{localize "MERP1E.EffectTab.Details"}}</a>
        {{!-- <a class="item" data-tab="duration"><i class="fas fa-clock"></i> {{localize "MERP1E.EffectTab.Duration"}}</a> --}}
        {{!-- <a class="item" data-tab="effects"><i class="fas fa-cogs"></i> {{localize "MERP1E.EffectTab.Effects"}}</a> --}}
        {{!-- #if (isGM) --}}
    </nav>

    <section class="sheet-body">
        {{!-- Configuration Tab --}}
        <div class="tab" data-group="primary" data-tab="configuration">
            {{#if (eq effect.flags.merp1e.effectType "SkillBonus")}}
                <div class="form-group">
                    <label>{{ localize "MERP1E.Effect.SkillBonus" }}</label>
                    <div class="form-fields">
                        <input type="number" name="flags.merp1e.SkillBonus.value" value="{{effect.flags.merp1e.SkillBonus.value }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{ localize "MERP1E.Effect.Skill" }}</label>
                    <div class="form-fields">
                        <select name="flags.merp1e.SkillBonus.skillReference">
                            {{#unless effect.flags.merp1e.SkillBonus.skillReference}}<option></option>{{/unless}}
                            {{#each sheetOrder as | skillGroup | }}
                            <optgroup label="{{localize skillGroup.label}}">
                                {{#select ../effect.flags.merp1e.SkillBonus.skillReference}}
                                    {{#each skillGroup.skills as | skill | }}
                                    <option value="{{skill.data.data.reference}}">{{skill.name}}</option>
                                    {{/each}}
                                {{/select}} 
                            </optgroup>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{ localize "MERP1E.Effect.Optional" }}</label>
                    <div class="form-fields">
                        <input type="checkbox" name="flags.merp1e.SkillBonus.isOptional" {{checked effect.flags.merp1e.SkillBonus.isOptional}}/>
                        <div class="flex3">
                            {{#if effect.flags.merp1e.SkillBonus.isOptional}}
                            <input type="text" name="flags.merp1e.SkillBonus.conditionText" value="{{effect.flags.merp1e.SkillBonus.conditionText}}"/>
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/if}}
            {{#if (eq effect.flags.merp1e.effectType "SkillGroupBonus")}}
                <div class="form-group">
                    <label>{{ localize "MERP1E.Effect.SkillGroupBonus" }}</label>
                    <div class="form-fields">
                        <input type="number" name="flags.merp1e.SkillGroupBonus.value" value="{{effect.flags.merp1e.SkillGroupBonus.value }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{ localize "MERP1E.Effect.SkillGroup" }}</label>
                    <div class="form-fields">
                        <select name="flags.merp1e.SkillGroupBonus.skillGroup">
                            {{selectOptions sheetOrder selected=effect.flags.merp1e.SkillGroupBonus.skillGroup localize=true nameAttr="id" labelAttr="label" blank=""}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{ localize "MERP1E.Effect.Optional" }}</label>
                    <div class="form-fields">
                        <input type="checkbox" name="flags.merp1e.SkillGroupBonus.isOptional" {{checked effect.flags.merp1e.SkillGroupBonus.isOptional}}/>
                        <div class="flex3">
                            {{#if effect.flags.merp1e.SkillGroupBonus.isOptional}}
                            <input type="text" name="flags.merp1e.SkillGroupBonus.conditionText" value="{{effect.flags.merp1e.SkillGroupBonus.conditionText}}"/>
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/if}}
            {{#if (eq effect.flags.merp1e.effectType "RankSkillBonus")}}
                <div class="form-group">
                    <label>{{ localize "MERP1E.Effect.RankSkillBonus" }}</label>
                    <div class="form-fields">
                        <input type="number" name="flags.merp1e.SkillRankBonus.value" value="{{effect.flags.merp1e.SkillRankBonus.value }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{ localize "MERP1E.Effect.Skill" }}</label>
                    <div class="form-fields">
                        <select name="flags.merp1e.SkillRankBonus.skillReference">
                            {{#unless effect.flags.merp1e.SkillRankBonus.skillReference}}<option></option>{{/unless}}
                            {{#each sheetOrder as | skillGroup | }}
                            <optgroup label="{{skillGroup.name}}">
                                {{#select ../effect.flags.merp1e.SkillRankBonus.skillReference}}
                                    {{#each skillGroup.skills as | skill | }}
                                    <option value="{{skill.data.data.reference}}">{{skill.name}}</option>
                                    {{/each}}
                                {{/select}} 
                            </optgroup>
                            {{/each}}
                        </select>
                    </div>
                </div>
            {{/if}}
            {{#if (eq effect.flags.merp1e.effectType "Shield")}}
                <div class="form-group">
                    <label>{{ localize "MERP1E.Effect.ShieldType" }}</label>
                    <div class="form-fields">
                        <select name="flags.merp1e.Shield.type">
                            {{#unless effect.flags.merp1e.Shield.type}}<option></option>{{/unless}}
                            {{selectOptions rules.defense.shieldTypes selected=effect.flags.merp1e.Shield.type localize=true nameAttr="id" labelAttr="label"}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{ localize "MERP1E.Effect.ShieldBaseBonus" }}</label>
                    <div class="form-fields">
                        <input type="number" value="{{shieldBaseBonus}}" placeholder=0 {{roif true}}/>
                    </div>
                </div>
                {{#if (ne effect.flags.merp1e.Shield.type "none")}}
                <div class="form-group">
                    <label>{{ localize "MERP1E.Effect.ShieldExtraBonus" }}</label>
                    <div class="form-fields">
                        <input type="number" name="flags.merp1e.Shield.extraBonus" value="{{effect.flags.merp1e.Shield.extraBonus}}" placeholder="0"/>
                    </div>
                </div>
                {{/if}}
            {{/if}}
            {{#if (eq effect.flags.merp1e.effectType "ArmGreaves")}}
                <div class="form-group">
                    <label>{{ localize "MERP1E.Effect.ArmGreavesType" }}</label>
                    <div class="form-fields">
                        <select name="flags.merp1e.ArmGreaves.type">
                            {{#unless effect.flags.merp1e.ArmGreaves.type}}<option></option>{{/unless}}
                            {{selectOptions rules.defense.armGreavesTypes selected=effect.flags.merp1e.ArmGreaves.type localize=true nameAttr="id" labelAttr="label"}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{ localize "MERP1E.Effect.ArmGreavesBaseBonus" }}</label>
                    <div class="form-fields">
                        <input type="number" value="{{armGreavesBaseBonus}}" placeholder=0 {{roif true}}/>
                    </div>
                </div>
                {{#if (ne effect.flags.merp1e.ArmGreaves.type "none")}}
                <div class="form-group">
                    <label>{{ localize "MERP1E.Effect.ArmGreavesExtraBonus" }}</label>
                    <div class="form-fields">
                        <input type="number" name="flags.merp1e.ArmGreaves.extraBonus" value="{{effect.flags.merp1e.ArmGreaves.extraBonus}}" placeholder="0"/>
                    </div>
                </div>
                {{/if}}
            {{/if}}
            {{#if (eq effect.flags.merp1e.effectType "LegGreaves")}}
                <div class="form-group">
                    <label>{{ localize "MERP1E.Effect.LegGreavesType" }}</label>
                    <div class="form-fields">
                        <select name="flags.merp1e.LegGreaves.type">
                            {{#unless effect.flags.merp1e.LegGreaves.type}}<option></option>{{/unless}}
                            {{selectOptions rules.defense.legGreavesTypes selected=effect.flags.merp1e.LegGreaves.type localize=true nameAttr="id" labelAttr="label"}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{ localize "MERP1E.Effect.LegGreavesBaseBonus" }}</label>
                    <div class="form-fields">
                        <input type="number" value="{{legGreavesBaseBonus}}" placeholder=0 {{roif true}}/>
                    </div>
                </div>
                {{#if (ne effect.flags.merp1e.LegGreaves.type "none")}}
                <div class="form-group">
                    <label>{{ localize "MERP1E.Effect.LegGreavesExtraBonus" }}</label>
                    <div class="form-fields">
                        <input type="number" name="flags.merp1e.LegGreaves.extraBonus" value="{{effect.flags.merp1e.LegGreaves.extraBonus}}" placeholder="0"/>
                    </div>
                </div>
                {{/if}}
            {{/if}}
            {{#if (eq effect.flags.merp1e.effectType "Helm")}}
                <div class="form-group">
                    <label>{{ localize "MERP1E.Effect.HelmType" }}</label>
                    <div class="form-fields">
                        <select name="flags.merp1e.Helm.type">
                            {{#unless effect.flags.merp1e.Helm.type}}<option></option>{{/unless}}
                            {{selectOptions rules.defense.helmTypes selected=effect.flags.merp1e.Helm.type localize=true nameAttr="id" labelAttr="label"}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{ localize "MERP1E.Effect.HelmBaseBonus" }}</label>
                    <div class="form-fields">
                        <input type="number" value="{{helmBaseBonus}}" placeholder=0 {{roif true}}/>
                    </div>
                </div>
                {{#if (ne effect.flags.merp1e.Helm.type "none")}}
                <div class="form-group">
                    <label>{{ localize "MERP1E.Effect.HelmExtraBonus" }}</label>
                    <div class="form-fields">
                        <input type="number" name="flags.merp1e.Helm.extraBonus" value="{{effect.flags.merp1e.Helm.extraBonus}}" placeholder="0"/>
                    </div>
                </div>
                {{/if}}
            {{/if}}
            {{#if (eq effect.flags.merp1e.effectType "Armor")}}
                <div class="form-group">
                    <label>{{ localize "MERP1E.Effect.ArmorType" }}</label>
                    <div class="form-fields">
                        <select name="flags.merp1e.Armor.type">
                            {{#unless effect.flags.merp1e.Armor.type}}<option></option>{{/unless}}
                            {{selectOptions rules.defense.armorTypes selected=effect.flags.merp1e.Armor.type localize=true nameAttr="id" labelAttr="label"}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{ localize "MERP1E.Effect.ArmorBaseBonus" }}</label>
                    <div class="form-fields">
                        <input type="number" value="{{armorBaseBonus}}" placeholder=0 {{roif true}}/>
                    </div>
                </div>
                {{#if (ne effect.flags.merp1e.Armor.type "none")}}
                <div class="form-group">
                    <label>{{ localize "MERP1E.Effect.ArmorExtraBonus" }}</label>
                    <div class="form-fields">
                        <input type="number" name="flags.merp1e.Armor.extraBonus" value="{{effect.flags.merp1e.Armor.extraBonus}}" placeholder="0"/>
                    </div>
                </div>
                {{/if}}
            {{/if}}
            {{#if (eq effect.flags.merp1e.effectType "PPMultiplier")}}
                <div class="form-group">
                    <label>{{ localize "MERP1E.Effect.Realm" }}</label>
                    <div class="form-fields">
                        <select name="flags.merp1e.PPMultiplier.realm">
                            {{#unless effect.flags.merp1e.PPMultiplier.realm}}<option></option>{{/unless}}
                            {{selectOptions rules.magic.realmsAny selected=effect.flags.merp1e.PPMultiplier.realm localize=true nameAttr="id" labelAttr="label"}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{ localize "MERP1E.Effect.PPMultiplierValue" }}</label>
                    <div class="form-fields">
                        <input type="number" name="flags.merp1e.PPMultiplier.value" value="{{effect.flags.merp1e.PPMultiplier.value}}" placeholder="1"/>
                    </div>
                </div>
            {{/if}}
            {{#if (eq effect.flags.merp1e.effectType "SpellAdder")}}
                <div class="form-group">
                    <label>{{ localize "MERP1E.Effect.Realm" }}</label>
                    <select name="flags.merp1e.SpellAdder.realm">
                        {{#unless effect.flags.merp1e.SpellAdder.realm}}<option></option>{{/unless}}
                        {{selectOptions rules.magic.realmsAny selected=effect.flags.merp1e.SpellAdder.realm localize=true nameAttr="id" labelAttr="label"}}
                    </select>
                </div>
                <div class="form-group">
                    <label>{{ localize "MERP1E.Effect.SpellAdderValue" }}</label>
                    <input type="number" name="flags.merp1e.SpellAdder.value" value="{{effect.flags.merp1e.SpellAdder.value}}" placeholder="1"/>
                </div>
            {{/if}}
        </div>
        {{!-- Condition tab --}}
        <div class="tab" data-tab="condition">
            {{#if (eq effect.flags.merp1e.conditionType "AlwaysOn")}}
            <div>
                Always on has no parameters to configure
            </div> {{!-- XXX i18 --}}
            {{/if}}
            {{#if (eq effect.flags.merp1e.conditionType "OnItemCarried")}}
            <div>
                <label>{{ localize "MERP1E.Effect.AllowedPlaces" }}</label>
                <input type="text" name="flags.merp1e.conditions.OnItemCarriedPlaces" value="{{effect.flags.merp1e.conditions.OnItemCarriedPlaces}}" placeholder="Anywhere"/>
            </div>
            {{/if}}
            {{#if (eq effect.flags.merp1e.conditionType "OnArmorTypes")}}
            <div class="flexrow">
                <label>{{localize "MERP1E.Effect.AllowedArmorTypes"}}</label>
    
                <div class="flexrow">
                    {{#each rules.defense.armorTypes as | armorType |}}
                    <div class="flexrow">
                        <input name="flags.merp1e.conditions.OnArmorTypes.{{armorType.id}}" type="checkbox" {{checked (lookup ../effect.flags.merp1e.conditions.OnArmorTypes armorType.id)}}/>
                        <label>{{localize armorType.abbr}}</label>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/if}}
        </div>
        {{!-- 
        * Always on
        * On item wear/yield (when in place: neck, head, torso/body, arms, legs, right hand, left hand, right finger, left finger, back, carried)
        * On armor types
        On item use - habilitar o uso do item
            Daily (max, current, *renew*)
            Charged (max, current)
            Indefinite
        On spell know (spell level <= character level) => no spelllist
        Conditional (text to show)
        --}}
        </div>

        {{!-- Duration Tab --}}
{{!-- 
        <div class="tab" data-tab="duration">
            <div class="form-group">
                <label>{{ localize "EFFECT.DurationSecs" }}</label>
                <div class="form-fields">
                    <input type="number" name="duration.seconds" value="{{ effect.duration.seconds }}"/>
                </div>
            </div>
            <div class="form-group">
                <label>{{ localize "EFFECT.StartTime" }}</label>
                <div class="form-fields">
                    <input type="number" name="duration.startTime" value="{{ effect.duration.startTime }}"/>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <label>{{ localize "EFFECT.DurationTurns" }}</label>
                <div class="form-fields">
                    <label>{{ localize "COMBAT.Rounds" }}</label>
                    <input type="number" name="duration.rounds" value="{{ effect.duration.rounds }}"/>
                    <label>{{ localize "COMBAT.Turns" }}</label>
                    <input type="number" name="duration.turns" value="{{ effect.duration.turns }}"/>
                </div>
            </div>
            <div class="form-group">
                <label>{{ localize "EFFECT.Combat" }}</label>
                <div class="form-fields">
                    <input type="text" name="duration.combat" value="{{ effect.duration.combat }}" disabled/>
                </div>
            </div>
    
            <div class="form-group">
                <label>{{ localize "EFFECT.StartTurns" }}</label>
                <div class="form-fields">
                    <label>{{ localize "COMBAT.Round" }}</label>
                    <input type="number" name="duration.startRound" value="{{ effect.duration.startRound }}"/>
                    <label>{{ localize "COMBAT.Turn" }}</label>
                    <input type="number" name="duration.startTurn" value="{{ effect.duration.startTurn }}"/>
                </div>
            </div>
        </div>
--}}
        {{!-- Details Tab --}}
        <div class="tab flexcol" data-group="primary" data-tab="details">
            <div>
                <label>{{ localize "EFFECT.Label" }}</label>
                <div class="form-fields">
                    <input type="text" name="label" value="{{ effect.label }}"/>
                </div>
            </div>
    
            <div>
                <label>{{ localize "EFFECT.Icon" }}</label>
                <div class="form-fields">
                    {{filePicker target="icon" type="image"}}
                    <input class="image" type="text" name="icon" placeholder="path/image.png" value="{{effect.icon}}"/>
                </div>
            </div>
    
            <div>
                <label>{{ localize "EFFECT.IconTint" }}</label>
                <div class="form-fields">
                    <input class="color" type="text" name="tint" value="{{effect.tint}}"/>
                    <input type="color" value="{{effect.tint}}" data-edit="tint"/>
                </div>
            </div>
    
            <div>
                <label>{{ localize "EFFECT.Disabled" }}</label>
                <input type="checkbox" name="disabled" {{ checked effect.disabled }}/>
            </div>
    
            {{#if isActorEffect}}
            <div class="form-group">
                <label>{{ localize "EFFECT.Origin" }}</label>
                <div class="form-fields">
                    <input type="text" name="origin" value="{{ effect.origin }}" disabled/>
                </div>
            </div>
            {{/if}}
    
            {{!--#if isItemEffect --}}
            <div class="form-group">
                <label>{{ localize "EFFECT.Transfer" }}</label>
                <div class="form-fields">
                    <input type="checkbox" name="transfer" {{checked effect.transfer}}/>
                </div>
            </div>
            {{!-- /if --}}
        </div>
    </section>
    
<!--
    <section class="tab" data-tab="details">
    </section>


    <section class="tab" data-tab="effects">
        <header class="effect-change effects-header flexrow">
            <div class="key">{{ localize "EFFECT.ChangeKey" }}</div>
            <div class="mode">{{ localize "EFFECT.ChangeMode" }}</div>
            <div class="value">{{ localize "EFFECT.ChangeValue" }}</div>
            <div class="effect-controls">
                <a class="effect-control" data-action="add"><i class="far fa-plus-square"></i></a>
            </div>
        </header>
        <ol class="changes-list">
            {{#each effect.changes as |change i|}}
            <li class="effect-change flexrow" data-index="{{i}}">
                <div class="key">
                    <input type="text" name="changes.{{i}}.key" value="{{change.key}}"/>
                </div>
                <div class="mode">
                    <select name="changes.{{i}}.mode" data-dtype="Number">
                        {{selectOptions ../modes selected=change.mode}}
                    </select>
                </div>
                <div class="value">
                    <input type="text" name="changes.{{i}}.value" value="{{change.value}}"/>
                </div>
                <div class="effect-controls">
                    <a class="effect-control" data-action="delete"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/each}}
        </ol>
    </section>

    <section class="tab" data-tab="wfrp">
        <div class="form-group">
            <label class="label-text">{{localize "EFFECT.EffectType"}}</label>
            <select class="effect-type" {{#if disableTrigger}} disabled {{/if}}>
              {{#select effect.flags.wfrp4e.effectTrigger}}
              <option value=""></option>
              {{#each effectTriggers as |label key|}}
              <option value="{{key}}">{{label}}</option>
              {{/each}}
              {{/select}}
            </select>
        </div>

        {{#if showEditor}}
        <textarea name="flags.wfrp4e.script" placeholder="{{placeholder}}">{{effect.flags.wfrp4e.script}}</textarea>
        {{/if}}

        {{#if (eq effect.flags.wfrp4e.effectTrigger "dialogChoice")}}
            <div class="form-group">
                <label class="label-text">{{localize "Description"}}</label>
                <input name="flags.wfrp4e.effectData.description" value="{{effect.flags.wfrp4e.effectData.description}}" data-dtype="String"/>
            </div>

            <div class="form-group">
                <label class="label-text">{{localize "Modifier"}}</label>
                <input name="flags.wfrp4e.effectData.modifier" value="{{effect.flags.wfrp4e.effectData.modifier}}"data-dtype="Number"/>
            </div>

            <div class="form-group">
                <label class="label-text">{{localize "DIALOG.SLBonus"}}</label>
                <input name="flags.wfrp4e.effectData.slBonus" value="{{effect.flags.wfrp4e.effectData.slBonus}}"data-dtype="Number"/>
            </div>

            <div class="form-group">
                <label class="label-text">{{localize "DIALOG.SuccessBonus"}}</label>
                <input name="flags.wfrp4e.effectData.successBonus" value="{{effect.flags.wfrp4e.effectData.successBonus}}"data-dtype="Number"/>
            </div>

            <div class="form-group">
                <label class="label-text">{{localize "DIALOG.DifficultyStep"}}</label>
                <input name="flags.wfrp4e.effectData.difficultyStep" value="{{effect.flags.wfrp4e.effectData.difficultyStep}}"data-dtype="Number"/>
            </div>
        {{/if}}
        <div class="form-group">
            <label class="label-text">{{localize "EFFECT.EffectApplication"}}</label>
            <select class="effect-application" name="flags.wfrp4e.effectApplication">
              {{#select effect.flags.wfrp4e.effectApplication}}
              {{#each effectApplication as |label key|}}
              <option value="{{key}}">{{label}}</option>
              {{/each}}
              {{/select}}
            </select>
        </div>

        <div class="form-group">
            <label>{{ localize "EFFECT.HideEffect" }}</label>
            <div class="form-fields">
                <input type="checkbox" name="flags.wfrp4e.hide" {{checked effect.flags.wfrp4e.hide}}/>
            </div>
        </div>

        <div class="form-group">
            <label>{{ localize "EFFECT.PreventDuplicate" }}</label>
            <div class="form-fields">
                <input type="checkbox" name="flags.wfrp4e.preventDuplicateEffects" {{checked effect.flags.wfrp4e.preventDuplicateEffects}}/>
            </div>
        </div>

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
-->
</form>

