<div class="form-group">
    <label>{{ localize "MERP1E.Effect.AttackType" }}</label>
    <div class="form-fields">
        <select name="flags.merp1e.Attack.attackType">
            {{selectOptions attackTypes selected=effect.flags.merp1e.Attack.attackType localize=true nameAttr="id" labelAttr="label"}}
        </select>
    </div>
</div>
<div class="form-group">
    <label>{{ localize "MERP1E.Effect.AttackTable" }}</label>
    <div class="form-fields">
        <select name="flags.merp1e.Attack.table">
            {{#unless effect.flags.merp1e.Attack.table}}<option></option>{{/unless}}
            {{selectOptions attackTables selected=effect.flags.merp1e.Attack.table localize=false nameAttr="reference" labelAttr="name"}}
        </select>
    </div>
</div>
<div class="form-group">
    <label>{{ localize "MERP1E.Effect.AttackMaximumSize" }}</label>
    <div class="form-fields">
        <select name="flags.merp1e.Attack.maximumSize">
            {{selectOptions attackMaximumSizes selected=effect.flags.merp1e.Attack.maximumSize localize=true nameAttr="id" labelAttr="label"}}
        </select>
    </div>
</div>
<div class="form-group">
    <label>{{ localize "MERP1E.Effect.AttackSkill" }}</label>
    <div class="form-fields">
        <select name="flags.merp1e.Attack.skillReference">
            {{#unless effect.flags.merp1e.Attack.skillReference}}<option>{{localize "MERP1E.Effect.DefaultSkill"}}</option>{{/unless}}
            {{selectOptions weaponSkills selected=effect.flags.merp1e.Attack.skillReference localize=false nameAttr="reference" labelAttr="name"}}
        </select>
    </div>
</div>
<div class="form-group">
    <label>{{ localize "MERP1E.Effect.AttackCanUseShield" }}</label>
    <div class="form-fields">
        <input type="checkbox" name="flags.merp1e.Attack.canUseShield" {{checked effect.flags.merp1e.Attack.canUseShield}}/>
    </div>
</div>
<div class="form-group">
    <label>{{ localize "MERP1E.Effect.AttackFumbleNumber" }}</label>
    <div class="form-fields">
        <input type="number" name="flags.merp1e.Attack.fumbleNumber" value="{{effect.flags.merp1e.Attack.fumbleNumber}}" placeholder="0"/>
    </div>
</div>
<div class="form-group">
    <label>{{ localize "MERP1E.Effect.AttackFumbleCrit" }}</label>
    <div class="form-fields">
        <select name="flags.merp1e.Attack.fumbleCrit">
            {{#unless effect.flags.merp1e.Attack.FumbleCrit}}<option>{{localize "MERP1E.Effect.AttackCritNone"}}</option>{{/unless}}
            {{selectOptions avaliableCriticalSizes selected=effect.flags.merp1e.Attack.fumbleCrit localize=true nameAttr="id" labelAttr="label"}}
        </select>
    </div>
</div>
<div class="form-group">
    <label>{{ localize "MERP1E.Effect.AttackPrimaryCrit" }}</label>
    <div class="form-fields">
        <select name="flags.merp1e.Attack.primaryCrit">
            {{#unless effect.flags.merp1e.Attack.primaryCrit}}<option></option>{{/unless}}
            {{selectOptions avaliableCriticals selected=effect.flags.merp1e.Attack.primaryCrit localize=true nameAttr="id" labelAttr="label"}}
        </select>
        {{localize "MERP1E.Effect.AttackCritMax"}}
        <select name="flags.merp1e.Attack.primaryCritMax">
            {{selectOptions avaliableCriticalSizes selected=effect.flags.merp1e.Attack.primaryCritMax localize=true nameAttr="id" labelAttr="label"}}
        </select>
    </div>
</div>
<div class="form-group">
    <label>{{ localize "MERP1E.Effect.AttackSecondaryCrit" }}</label>
    <div class="form-fields">
        <select name="flags.merp1e.Attack.secondaryCrit">
            {{#unless effect.flags.merp1e.Attack.FumbleCrit}}<option value="">{{localize "MERP1E.Effect.AttackCritNone"}}</option>{{/unless}}
            {{selectOptions avaliableCriticals selected=effect.flags.merp1e.Attack.secondaryCrit localize=true nameAttr="id" labelAttr="label"}}
        </select>
        {{#if effect.flags.merp1e.Attack.secondaryCrit}}
        {{localize "MERP1E.Effect.AttackCritMax"}}
        <select name="flags.merp1e.Attack.secondaryCritMax">
            {{selectOptions avaliableCriticalSizes selected=effect.flags.merp1e.Attack.primaryCritMax localize=true nameAttr="id" labelAttr="label"}}
        </select>
        {{/if}}
    </div>
</div>
<div class="form-group">
    <label>{{ localize "MERP1E.Effect.AttackTwoHanded" }}</label>
    <div class="form-fields">
        <input type="checkbox" name="flags.merp1e.Attack.isTwoHanded" {{checked effect.flags.merp1e.Attack.isTwoHanded}}/>
    </div>
</div>
<div class="form-group">
    {{#if (eq effect.flags.merp1e.Attack.attackType "missileAttack")}}
    <label>{{ localize "MERP1E.Effect.AttackMissileBaseRange" }}</label>
    {{else}}
    <label>{{ localize "MERP1E.Effect.AttackThrowBaseRange" }}</label>
    {{/if}}
    <div class="form-fields">
        <input type="number" name="flags.merp1e.Attack.baseRange" value="{{effect.flags.merp1e.Attack.baseRange}}"/>
    </div>
</div>
{{#if (eq effect.flags.merp1e.Attack.attackType "missileAttack")}}
<div class="form-group">
    <label>{{ localize "MERP1E.Effect.AttackRoundsLoad" }}</label>
    <div class="form-fields">
        <input type="number" name="flags.merp1e.Attack.roundsLoad" value="{{effect.flags.merp1e.Attack.roundsLoad}}" placeholder="0"/>
    </div>
</div>
<div class="form-group">
    <label>{{ localize "MERP1E.Effect.AttackRoundsReload" }}</label>
    <div class="form-fields">
        <input type="number" name="flags.merp1e.Attack.roundsReload" value="{{effect.flags.merp1e.Attack.roundsReload}}" placeholder="0"/>
    </div>
</div>
<div class="form-group">
    <label>{{ localize "MERP1E.Effect.AttackLoadReloadPenalty" }}</label>
    <div class="form-fields">
        <input type="number" name="flags.merp1e.Attack.loadReloadPenalty" value="{{effect.flags.merp1e.Attack.loadReloadPenalty}}" placeholder="0"/>
    </div>
</div>
{{else}}
<div class="form-group">
    <label>{{ localize "MERP1E.Effect.AttackMeleeRange" }}</label>
    <div class="form-fields">
        <input type="number" name="flags.merp1e.Attack.meleeRange" value="{{effect.flags.merp1e.Attack.meleeRange}}"/>
    </div>
</div>
{{/if}}
<div class="form-group">
    <label>{{ localize "MERP1E.Effect.AttackBonus" }}</label>
    <div class="form-fields">
        <input type="number" name="flags.merp1e.Attack.bonus" value="{{effect.flags.merp1e.Attack.bonus}}" placeholder="0"/>
    </div>
</div>
<div class="form-group">
    <label>{{ localize "MERP1E.Effect.AttackArmorModifications" }}</label>
    <div class="flexcol">
        {{#each armorTypes as | armorType | }}
        <div class="form-fields flexrow">
            <div>
                {{localize armorType.abbr}}
            </div>
            <input type="number" name="flags.merp1e.Attack.ArmorModification.{{armorType.id}}" value="{{lookup ../effect.flags.merp1e.Attack.ArmorModification armorType.id}}" placeholder="0"/>
        </div>
        {{/each}}
    </div>
</div>
