<h2 class="flexrow">
    <div class="flex3">{{localize "MERP1E.Injury.Dying"}}</div>
    {{#if document.canDelete}}
    <div><a class="injury-control" data-action="delete"><i class="fas fa-trash" title="{{localize 'MERP1E.EffectAction.Delete'}}"></i></a></div>
    {{/if}}
</h2>
<div class="form-group">
    <label>{{ localize "MERP1E.EffectInjury.Formula" }}</label>
    <div class="form-fields">
        <input type="text" name="flags.merp1e.Dying.formula" value="{{effect.flags.merp1e.Dying.formula}}" {{roif this.isApplied}}/>
    </div>
</div>
<div class="form-group">
    <label>{{ localize "MERP1E.Effect.Description" }}</label>
    <div class="form-fields">
        <input type="text" name="flags.merp1e.Dying.description" value="{{effect.flags.merp1e.Dying.description}}" {{rw}}/>
    </div>
</div>
{{#if this.isApplied}}
<div class="form-group">
    <label>{{ localize "MERP1E.EffectInjury.Applied" }}</label>
    <div class="form-fields">
        {{appliedText}}
    </div>
</div>
<div class="form-group">
    <label>{{ localize "MERP1E.EffectInjury.RoundsToDie" }}</label>
    <div class="form-fields">
        <input type="number" name="flags.merp1e.Dying.initialValue" value="{{effect.flags.merp1e.Dying.initialValue}}" {{rw}}/>
    </div>
</div>
<div class="form-group">
    <label>{{ localize "MERP1E.EffectInjury.RoundsLeftToDie" }}</label>
    <div class="form-fields">
        <input type="number" name="flags.merp1e.Dying.currentValue" value="{{effect.flags.merp1e.Dying.currentValue}}" {{rw}}/>
    </div>
</div>
<div class="form-group">
    <label>{{ localize "MERP1E.EffectInjury.DieAt" }}</label>
    <div class="form-fields">
        <input type="number" value="{{dieAt}}" {{ro}}/>
    </div>
</div>
{{/if}}
