<form class="{{cssClass}}" autocomplete="off">
    <input type="hidden" name="flags.merp1e.effectType" value="InjuryEffect"/>
    <input type="hidden" name="flags.merp1e.adapterName" value="{{effect.flags.merp1e.adapterName}}"/>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="effect">{{localize "MERP1E.EffectTab.Effect"}}</a>
        {{#if hasDuration }}
        <a class="item" data-tab="duration">{{localize "MERP1E.EffectTab.Duration"}}</a>
        {{/if}}
    </nav>

    <section class="sheet-body">
        {{!-- Configuration Tab --}}
        <div class="tab effect" data-group="primary" data-tab="effect">
            {{#if (eq effect.flags.merp1e.adapterName "Hits")}}
                {{> "systems/merp1e/templates/effect/hits-injury-effect-part.html" effect=effect sheetOrder=sheetOrder}}
            {{/if}}
            {{#if (eq effect.flags.merp1e.adapterName "Heal")}}
                {{> "systems/merp1e/templates/effect/heal-injury-effect-part.html" effect=effect sheetOrder=sheetOrder}}
            {{/if}}
            {{#if (eq effect.flags.merp1e.adapterName "HitsPerRound")}}
                {{> "systems/merp1e/templates/effect/hits-per-round-injury-effect-part.html" effect=effect sheetOrder=sheetOrder}}
            {{/if}}
            {{#if (eq effect.flags.merp1e.adapterName "Penalty")}}
                {{> "systems/merp1e/templates/effect/penalty-injury-effect-part.html" effect=effect sheetOrder=sheetOrder}}
            {{/if}}
            {{#if (eq effect.flags.merp1e.adapterName "Stun")}}
                {{> "systems/merp1e/templates/effect/stun-injury-effect-part.html" effect=effect sheetOrder=sheetOrder}}
            {{/if}}
            {{#if (eq effect.flags.merp1e.adapterName "KnockedDown")}}
                {{> "systems/merp1e/templates/effect/knocked-down-injury-effect-part.html" effect=effect sheetOrder=sheetOrder}}
            {{/if}}
            {{#if (eq effect.flags.merp1e.adapterName "KnockedOut")}}
                {{> "systems/merp1e/templates/effect/knocked-out-injury-effect-part.html" effect=effect sheetOrder=sheetOrder}}
            {{/if}}
            {{#if (eq effect.flags.merp1e.adapterName "ByLocation")}}
                {{> "systems/merp1e/templates/effect/by-location-injury-effect-part.html" effect=effect sheetOrder=sheetOrder}}
            {{/if}}
            {{#if (eq effect.flags.merp1e.adapterName "Dying")}}
                {{> "systems/merp1e/templates/effect/dying-injury-effect-part.html" effect=effect sheetOrder=sheetOrder}}
            {{/if}}
        </div>
        {{#if hasDuration }}
        <div class="tab duration" data-group="primary" data-tab="duration">
            {{> "systems/merp1e/templates/effect/duration-part.html" effect=effect}}
        </div>
        {{/if}}
    </section>
</form>
