<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="statbonuses">{{localize "MERP1E.RaceTab.StatBonuses"}}</a>
        <a class="item" data-tab="rrbonuses">{{localize "MERP1E.RaceTab.ResistenceRollBonuses"}}</a>
        <a class="item" data-tab="adolescenceskillrank">{{localize "MERP1E.RaceTab.AdolescenceSkillRank"}}</a>
        <a class="item" data-tab="languages">{{localize "MERP1E.RaceTab.Languages"}}</a>
        <a class="item" data-tab="effects">{{localize "MERP1E.RaceTab.Effects"}}</a>
        <a class="item" data-tab="characteristics">{{localize "MERP1E.RaceTab.Characteristics"}}</a>
        <a class="item" data-tab="description">{{localize "MERP1E.RaceTab.Description"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Stat Bonuses Tab --}}
        <div class="tab statbonuses" data-group="primary" data-tab="statbonuses">
            <table>
                <thead class="header">
                    <tr>
                        <td>{{localize "MERP1E.StatTable.Stats"}}</td>
                        <td>{{localize "MERP1E.StatTable.Abbr"}}</td>
                        <td>{{localize "MERP1E.Race.RacialBonus"}}</td>    
                    </tr>
                </thead>
                <tbody>
                    {{#each stats as | stat |}}
                    {{#if (eq (default stat.only_value false) false)}}
                    <tr>
                        <td>{{localize stat.label}}</td>
                        <td>({{localize stat.abbr}})</td>
                        <td><input type="number" name="data.statsBonuses.{{stat.id}}" value="{{lookup ../data.statsBonuses stat.id}}" data-dtype="Number"/></td>
                    </tr>
                    {{/if}}
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{!-- RRs Bonuses Tab --}}
        <div class="tab rrbonuses" data-group="primary" data-tab="rrbonuses">
            <table>
                <thead class="header">
                    <tr>
                        <td>{{localize "MERP1E.Race.ResistenceRoll"}}</td>
                        <td>{{localize "MERP1E.Race.RacialBonus"}}</td>    
                    </tr>
                </thead>
                <tbody>
                    {{#each sheetOrder as | group |}}
                    {{#each group.skills as | skill |}}
                    {{#if (eq skill.data.data.rollType "RR")}}
                    <tr>
                        <td>{{localize skill.name}}</td>
                        <td><input type="number" name="data.skillBonuses.{{skill.data.data.reference}}" value="{{lookup ../../data.skillBonuses skill.data.data.reference}}" data-dtype="Number"/></td>
                    </tr>
                    {{/if}}
                    {{/each}}
                    {{/each}}
                </tbody>
            </table>
        </div>

        {{!-- and Adolescence Skill Ranks Tab --}}
        <div class="tab adolescenceskillrank" data-group="primary" data-tab="adolescenceskillrank">
            <div class="race-skill-table flexcol">
                <div class="flexrow header">
                    <div>{{localize "MERP1E.Race.Skill"}}</div>
                    {{!--<div>{{localize "MERP1E.Race.Bonus"}}</div>--}}
                    <div>{{localize "MERP1E.Race.AdolescenceSkillRank"}}</div>
                </div>
                {{#each sheetOrder as | group |}}
                <div class="race-skill-group">
                    <div style="font-weight: bolder;">{{localize group.label}}</div>
                    {{#each group.skills as | skill |}}
                    {{#if (ne skill.data.data.rankBonus "no rank")}}
                    <div class="race-skill flexrow">
                        <div>{{localize skill.name}}</div>
                        {{!--<input type="number" class="" name="data.skillBonuses.{{skill.data.data.reference}}" value="{{lookup ../../data.skillBonuses skill.data.data.reference}}" data-dtype="Number"/>--}}
                        <input type="number" class="" name="data.adolescenceSkillRanks.{{skill.data.data.reference}}" value="{{lookup ../../data.adolescenceSkillRanks skill.data.data.reference}}" data-dtype="Number"/>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
                {{/each}}
                <div class="race-skill-group flexrow" style="font-weight: bolder;">{{localize "MERP1E.Race.OtherAdolescenceRanks"}}</div>
                <div class="race-skill flexrow">
                    <div>{{localize "MERP1E.Race.AdolescenceLanguages"}}</div>
                    <div></div>
                    <input type="number" class="" name="data.adolescenceLanguages" value="{{data.adolescenceLanguages}}" data-dtype="Number"/>
                </div>
                <div class="race-skill flexrow">
                    <div>{{localize "MERP1E.Race.AdolescenceSpellListChance"}}</div>
                    <div></div>
                    <input type="number" class="" name="data.adolescenceSpellListChance" value="{{data.adolescenceSpellListChance}}" data-dtype="Number"/>
                </div>
                <div class="race-skill flexrow">
                    <div>{{localize "MERP1E.Race.AdolescenceBackgroundPoints"}}</div>
                    <div></div>
                    <input type="number" class="" name="data.adolescenceBackgroundPoints" value="{{data.adolescenceBackgroundPoints}}" data-dtype="Number"/>
                </div>
            </div>
        </div>

        {{!-- Starting Laguages Tab --}}
        <div class="tab" data-group="primary" data-tab="languages">
            <div class="languages header">
                <header class="flexrow">
                    <span class="flex4">{{localize "MERP1E.Languages.Language"}}</span>
                    <span class="flex1">{{localize "MERP1E.Languages.Ranks"}}</span>
                    <span class="flex1">
                        <a class="languages-create" data-action="create-language" title="Create New Language"><i class="fas fa-plus"></i></a>
                    </span>
                </header>
                <div class="languages-list">
                    {{#each data.languages as |language languageIdx|}}
                    <li class="languages-list-item item flexrow">
                            <input class="flex4" name="data.languages.{{languageIdx}}.name" value="{{language.name}}" placeholder='{{localize "MERP1E.Languages.Language"}}' type="text" data-dtype="String"/>
                            <input class="flex1" name="data.languages.{{languageIdx}}.ranks" value="{{language.ranks}}" min="1" max ="5" placeholder='-' type="number" data-dtype="Number"/>
                            <span class="flex1">
                                <a class="languages-delete" data-action="delete-language" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </span>
                    </li>
                    {{/each}}
                </div>
            </div>
        </div>

        {{!-- Effects Tab --}}
        <div class="tab" data-group="primary" data-tab="effects">
            {{> "systems/merp1e/templates/item/parts/effects.html" item=item}}
        </div>

        {{!-- Characteristics Tab --}}
        <div class="tab" data-group="primary" data-tab="characteristics">
            <h2 class="race-group">{{localize "MERP1E.Race.PhysicalCharacter"}}</h2>
            <div>
                <label for="data.physicalCharacter.build" class="resource-label">{{localize "MERP1E.Race.Build"}}</label>
                <textarea class="multiline" name="data.physicalCharacter.build" cols="80" rows="5" data-dtype="String">{{data.physicalCharacter.build}}</textarea>
            </div>
            <div>
                <label for="data.physicalCharacter.coloring" class="resource-label">{{localize "MERP1E.Race.Coloring"}}</label>
                <textarea class="multiline" name="data.physicalCharacter.coloring" cols="80" rows="5" data-dtype="String">{{data.physicalCharacter.coloring}}</textarea>
            </div>
            <div>
                <label for="data.physicalCharacter.endurance" class="resource-label">{{localize "MERP1E.Race.Endurance"}}</label>
                <textarea class="multiline" name="data.physicalCharacter.endurance" cols="80" rows="5" data-dtype="String">{{data.physicalCharacter.endurance}}</textarea>
            </div>
            <div>
                <label for="data.physicalCharacter.height" class="resource-label">{{localize "MERP1E.Race.Height"}}</label>
                <textarea class="multiline" name="data.physicalCharacter.height" cols="80" rows="5" data-dtype="String">{{data.physicalCharacter.height}}</textarea>
            </div>
            <div>
                <label for="data.physicalCharacter.lifespan" class="resource-label">{{localize "MERP1E.Race.Lifespan"}}</label>
                <textarea class="multiline" name="data.physicalCharacter.lifespan" cols="80" rows="5" data-dtype="String">{{data.physicalCharacter.lifespan}}</textarea>
            </div>
            <div>
                <label for="data.physicalCharacter.resistance" class="resource-label">{{localize "MERP1E.Race.Resistance"}}</label>
                <textarea class="multiline" name="data.physicalCharacter.resistance" cols="80" rows="5" data-dtype="String">{{data.physicalCharacter.resistance}}</textarea>
           </div>
            <div>
                <label for="data.physicalCharacter.specialAbilities" class="resource-label">{{localize "MERP1E.Race.SpecialAbilities"}}</label>
                <textarea class="multiline" name="data.physicalCharacter.specialAbilities" cols="80" rows="5" data-dtype="String">{{data.physicalCharacter.specialAbilities}}</textarea>
            </div>

            <h2 class="race-group">{{localize "MERP1E.Race.Culture"}}</h2>
            <div>
                <label for="data.culture.clothingAndDecoration" class="resource-label">{{localize "MERP1E.Race.ClothingAndDecoration"}}</label>
                <textarea class="multiline" name="data.culture.clothingAndDecoration" cols="80" rows="5" data-dtype="String">{{data.culture.clothingAndDecoration}}</textarea>
            </div>
            <div>
                <label for="data.culture.fearsAndInabilities" class="resource-label">{{localize "MERP1E.Race.FearsAndInabilities"}}</label>
                <textarea class="multiline" name="data.culture.fearsAndInabilities" cols="80" rows="5" data-dtype="String">{{data.culture.fearsAndInabilities}}</textarea>
            </div>
            <div>
                <label for="data.culture.lifestyle" class="resource-label">{{localize "MERP1E.Race.Lifestyle"}}</label>
                <textarea class="multiline" name="data.culture.lifestyle" cols="80" rows="5" data-dtype="String">{{data.culture.lifestyle}}</textarea>
            </div>
            <div>
                <label for="data.culture.marriagePattern" class="resource-label">{{localize "MERP1E.Race.MarriagePattern"}}</label>
                <textarea class="multiline" name="data.culture.marriagePattern" cols="80" rows="5" data-dtype="String">{{data.culture.marriagePattern}}</textarea>
            </div>
            <div>
                <label for="data.culture.religion" class="resource-label">{{localize "MERP1E.Race.Religion"}}</label>
                <textarea class="multiline" name="data.culture.religion" cols="80" rows="5" data-dtype="String">{{data.culture.religion}}</textarea>
            </div>
            
            <h2 class="race-group">{{localize "MERP1E.Race.OtherFactors"}}</h2>
            <div>
                <label for="data.otherFactors.demeanor" class="resource-label">{{localize "MERP1E.Race.Demeanor"}}</label>
                <textarea class="multiline" name="data.otherFactors.demeanor" cols="80" rows="5" data-dtype="String">{{data.otherFactors.demeanor}}</textarea>
            </div>
            <div>
                <label for="data.otherFactors.language" class="resource-label">{{localize "MERP1E.Race.Language"}}</label>
                <textarea class="multiline" name="data.otherFactors.language" cols="80" rows="5" data-dtype="String">{{data.otherFactors.language}}</textarea>
            </div>
            <div>
                <label for="data.otherFactors.prejudices" class="resource-label">{{localize "MERP1E.Race.Prejudices"}}</label>
                <textarea class="multiline" name="data.otherFactors.prejudices" cols="80" rows="5" data-dtype="String">{{data.otherFactors.prejudices}}</textarea>
            </div>
            <div>
                <label for="data.otherFactors.restrictionsOnProfessions" class="resource-label">{{localize "MERP1E.Race.RestrictionsOnProfessions"}}</label>
                <textarea class="multiline" name="data.otherFactors.restrictionsOnProfessions" cols="80" rows="5" data-dtype="String">{{data.otherFactors.restrictionsOnProfessions}}</textarea>
            </div>
            <div>
                <label for="data.otherFactors.backgroundOptions" class="resource-label">{{localize "MERP1E.Race.BackgroundOptions"}}</label>
                <textarea class="multiline" name="data.otherFactors.backgroundOptions" cols="80" rows="5" data-dtype="String">{{data.otherFactors.backgroundOptions}}</textarea>
            </div>
        </div>
        
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{> "systems/merp1e/templates/item/parts/description.html" data=data}}
        </div>
    </section>
</form>
