<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "MERP1E.Spelllist.Name"}}"/></h1>
            <div class="resource">
            <label class="resource-label">{{localize "MERP1E.Spelllist.Group"}}</label>
            <select name="data.group">
                {{#each rules.spelllist.groups as |group groupKey|}}
                <option value="{{groupKey}}" {{#if (isEqual ../data.group groupKey)}}selected{{/if}}>{{localize (concat "MERP1E.Spelllist.Groups." groupKey)}}</option>
                {{/each}}
            </select>
            </div>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <h2>Spells:</h2>
        <table class="spelllist-spell-table">
            <thead>
                <tr class="spelllist-spells-header flexrow">
                    <td class="spelllist-spell-level">{{localize "MERP1E.Spelllist.Table.Level"}}</td>
                    <td class="spelllist-spell-name flex2">{{localize "MERP1E.Spelllist.Table.Spell"}}</td>
                    <td class="spelllist-spell-class">{{localize "MERP1E.Spelllist.Table.Class"}}</td>
                    <td class="spelllist-spell-areaofeffect">{{localize "MERP1E.Spelllist.Table.AreaOfEffect"}}</td>
                    <td class="spelllist-spell-duration">{{localize "MERP1E.Spelllist.Table.Duration"}}</td>
                    <td class="spelllist-spell-range">{{localize "MERP1E.Spelllist.Table.Range"}}</td>
                    <td class="spelllist-spell-instantaneous">{{localize "MERP1E.Spelllist.Table.Instantaneous"}}</td>
                    <td></td>
                </tr> 
            </thead>
            <tbody>
                {{#each data.spells as |spell|}}
                <tr class="spelllist-spells-line spelllist-spell-level-{{spell.level}} flexrow">
                    <input name="data.spells.{{spell.level}}.level" type="hidden" value="{{spell.level}}"/>
                    <td class="spelllist-spell-level">{{spell.level}}</td>
                    <input name="data.spells.{{spell.level}}.name" type="hidden" value="{{spell.name}}"/>
                    <td class="spelllist-spell-name flex2">{{spell.name}}</td>
                    <input name="data.spells.{{spell.level}}.class" type="hidden" value="{{spell.class}}"/>
                    <td class="spelllist-spell-class">{{spell.class}}</td>
                    <input name="data.spells.{{spell.level}}.areaofeffect" type="hidden" value="{{spell.areaofeffect}}"/>
                    <td class="spelllist-spell-areaofeffect">{{spell.areaofeffect}}</td>
                    <input name="data.spells.{{spell.level}}.duration" type="hidden" value="{{spell.duration}}"/>
                    <td class="spelllist-spell-duration">{{spell.duration}}</td>
                    <input name="data.spells.{{spell.level}}.range" type="hidden" value="{{spell.range}}"/>
                    <td class="spelllist-spell-range">{{spell.range}}</td>
                    <input name="data.spells.{{spell.level}}.instantaneous" type="hidden" value="{{spell.instantaneous}}"/>
                    <td class="spelllist-spell-instantaneous">{{#if (isEqual spell.instantaneous "true")}}*{{else}}-{{/if}}</td>
                    <td>
                        <a class="spelllist-spell-control" data-action="delete"><i class="fas fa-trash"></i></a>
                    </td>
                </tr> 
                {{/each}}
            </tbody>
        </td>
    </section>
</form>
