{{log "Readonly" readOnly this }}
<select name="{{name}}" {{roif readOnly}}>
    {{#select selected}}
    {{#if blank}}
    {{#unless selected}}<option></option>{{/unless}}
    {{/if}}
    {{#if maneuverSkill}}
    <option value="MM">{{localize "MERP1E.Maneuver.Skill"}}</option>
    {{/if}}
    {{#each sheetOrder as | skillGroup | }}
    <optgroup label="{{localize skillGroup.label}}">
            {{#each skillGroup.skills as | skill | }}
            {{#if restrictRollType}}
                {{#if (eq skill.data.data.rollType restrictRollType)}}
                <option value="{{#if ../../returnReference}}{{skill.data.data.reference}}{{else}}{{skill.id}}{{/if}}">{{localize skill.name}}</option>
                {{/if}}
            {{else}}
                <option value="{{#if ../../returnReference}}{{skill.data.data.reference}}{{else}}{{skill.id}}{{/if}}">{{localize skill.name}}</option>
            {{/if}}
            {{/each}}
    </optgroup>
    {{/each}}
    {{/select}} 
</select>