<select name="{{field}}">
    {{log "currentValue" currentValue}}
    {{#each rules.skill.sheetOrder as | group |}}
    <optgroup type="skillgroup" label="{{localize (concat 'MERP1E.SkillGroup.' group.id)}}">
        {{#each group.skills as | skill |}}
        {{log ../../currentValue skill.data.reference}}
        <option value="{{skill.data.reference}}" {{#if (isEqual ../../currentValue skill.data.reference)}}selected{{/if}}>{{localize (concat 'MERP1E.Skill.' skill.data.reference)}}</option>
        {{/each}}
    </optgroup>
    {{/each}}
</select>
