<select name="{{field}}">
    {{#each spellHierarchy as |spellGroup|}}
        <optgroup type="spelllistgroup" label="{{localize spellGroup.name}}">
            {{#each spellGroup.spellLists as |spellList|}}
            <optgroup type="spellList" label="{{localize spellList.name}}">
                {{#each spellList.data.data.spells as |spell|}}
                <option value="{{spell._id}}" {{#if (isEqual spell._id ../../currentValue)}}selected{{/if}}>{{spell.level}} - {{spell.name}}</option>
                {{/each}}
            {{/each}}
            </optgroup>
        </optgroup>
    {{/each}}
</select>
